In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vivek\appdata\local\programs\python\python310\lib\site-packages (2.3.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.22.4 in c:\users\vivek\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vivek\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vivek\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vivek\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\vivek\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [20]:
import pandas as pd

In [21]:
pd.__version__

'2.3.3'

In [22]:
df = pd.read_parquet(r"C:\Users\Vivek\Downloads\yellow_tripdata_2021-01.parquet")

In [23]:
from sqlalchemy import create_engine

In [24]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [25]:
engine.connect()

In [26]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [27]:
%time df.to_sql(name="yellow_taxi_data",con=engine,if_exists='replace')

CPU times: total: 1min 13s
Wall time: 2min 34s

769

In [28]:
query="""select count(*) from yellow_taxi_data;"""

In [29]:
pd.read_sql(query,con=engine)

     count
0  1369769